.blog {
	padding-bottom: 72px;

	@include media-768 {
		padding-bottom: 32px;
	}

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 30px;

		@include media-768 {
			flex-direction: column;
			align-items: flex-start;
			margin-bottom: 24px;
		}
	}

	.title {
		margin-bottom: 0;

		@include media-576 {
			margin-bottom: 5px;
		}
	}

	&__title {

		@include media-768 {
			margin-bottom: 5px;
		}
	}

	&__link {
		font-style: normal;
		font-weight: 700;
		font-size: 14px;
		line-height: 1.3;
		color: $green-900;
		position: relative;
		border-bottom: 2px solid $green-900;
		outline: none;
		transition: color 0.3s;
		margin-right: 6px;

		@include media-576 {
			line-height: 1.79;
		}

		&:hover {
			color: #4d800c;
			border-bottom: 2px solid #4d800c;
		}

		&:focus {
			box-shadow: 0 0 0 3px $silver-100;
			border-bottom: transparent;
			border-radius: 3px;
			color: $green-900;
		}

		&:active {
			border-bottom: 2px solid $silver-100;
			box-shadow: none;
			border-radius: none;
			color: $green-900;
		}
	}

	&__info {
		display: flex;
		justify-content: space-between;

		@include media-768 {
			display: block;
		}
	}

	&__item {
		width: calc(100% / 3 - (60px / 3));
		position: relative;
		box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
		border-radius: 6px;

		&:focus-within {
			outline: 2px solid $green-900;
		}

		@include media-992 {
			width: calc(100% / 3 - (30px / 3));
		}

		@include media-768 {
			width: 100%;
			margin-bottom: 15px;
		}
	}

	&__link-item {
		outline: transparent;
	}

	&__img {
		border-radius: 6px 6px 0 0;
		object-fit: cover;

		@include media-768 {
			height: 100%;
			width: 100%;
		}
	}

	&__date {
		position: absolute;
		top: 0;
		left: 20px;
		display: flex;
		flex-direction: column;
		text-align: center;
		background-color: $white;
		padding: 18px 0 8px;
		border-radius: 0 0 4px 4px;
		width: 65px;
	}

	&__month {
		font-weight: 700;
		font-size: 12px;
		line-height: 1,1;
		letter-spacing: 0.001em;
		margin-bottom: 3px;
		display: block;
	}

	&__num {
		font-family: "Ruda", sans-serif;
		font-weight: 600;
		font-size: 30px;
		line-height: 1;
		text-transform: uppercase;
	}

	&__visible {
		padding: 18px;

		@include media-992 {
			padding: 14px 15px 15px;
		}
	}

	&__text {
		font-weight: 600;
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 0;
		transition: color 0.3s;
		@include line-clamp(4);

		&:hover {
			color: $green-900;
		}

		@include media-992 {
			font-size: 14px;
			line-height: 1.4;
		}
	}
}
