.header {
	position: relative;

	&__top {
		background-color: $dark-800;
		color: $white;
		font-size: 13px;
		line-height: 18px;
		font-weight: 700;
		padding: 14px 0;
	}

	&__menu-btn {
		background-image: url("../images/sprite.svg#icon-burger");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		width: 30px;
		height: 20px;
		display: none;
		margin-left: 7px;

		@include media-992 {
			display: block;
		}
	}

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__list {
		display: flex;

		@include media-992 {
			display: none;
		}

		&--responsive {
			@include media-992 {
				display: flex;
			}
		}
	}

	&__item {

		&:not(:last-child) {
			margin-right: 24px;
		}


		&--left {
		
			&:not(:last-child) {
				margin-right: 48px;
				
				@include media-992 {
					margin-right: 31px;
				}
			}
			// padding-left: 45px;
		}

	

		&:focus-within {
			box-shadow: 0 0 0 3px $green-100;
			border-radius: 4px;
			opacity: 1;
		}

		&:active {
			box-shadow: none;
		}
	}

	&__link {
		transition: opacity 0.3s;
		outline: transparent;
		
		

		&--delivery,
		&--hotline {
			display: flex;
			align-items: center;

			@include media-992 {
				font-size: 0;
			}

			&::before {
				content: "";
				display: block;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
				margin-right: 12px;

				@include media-992 {
					margin-right: 0;

				}
			}
		}

		&--delivery {
			&::before {
				width: 32px;
				height: 21.96px;
				background-image: url("../images/sprite.svg#icon-car");

				@include media-576 {
					margin-right: -11px;
					
				}
			}
		}

		&--hotline {
			&::before {
				width: 22px;
				height: 22px;
				background-image: url("../images/sprite.svg#icon-phone");

				@include media-576 {
					margin-right: -5px;
					
				}
			}
		}

		&:hover {
			opacity: 0.7;
		}

		&:active {
			opacity: 1;
		}

		// @include media-992 {
		// 	&--delivery,
		// 	&--hotline {
		// 		&::before {
		// 			content: "";
		// 			top: -12px;
		// 		}
		// 	}

		// 	&--delivery {
		// 		&::before {
		// 			left: -69px;
		// 		}
		// 	}

		// 	&--hotline {
		// 		&::before {
		// 			left: -16px;
		// 		}
		// 	}
		// }
	}

	&__bottom {
		background-color: $green-900;
		color: $white;
		padding: 25px 0;
		position: relative;

		@include media-1200 {
			padding: 9px 0;
		}
	}

	&__container {
		display: flex;
		flex-direction: row;
		align-items: center;

		@include media-1200 {
			justify-content: space-between;
		}
	}

}

.tape {
	margin-right: 30px;
	position: relative;

	@include media-992 {
		display: none;
	}

	&__btn {
		padding: 15px 38px 15px 61px;
		background-color: $white;
		color: $green-900;
		font-weight: 600;
		font-size: 14px;
		line-height: 1.4;
		border-radius: 6px;
		position: relative;
		z-index: 2;
		transition: background-color 0.3s;
		white-space: nowrap;

		&:hover {
			background-color: $green-200;
		}

		&::before {
			content: "";
			position: absolute;
			top: 17px;
			left: 18px;
			z-index: 2;
			background-image: url("../images/sprite.svg#icon-burger-dropdown");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			width: 25px;
			height: 17px;
		}

		&::after {
			content: "";
			position: absolute;
			top: 23px;
			right: 18px;
			background-image: url("../images/sprite.svg#icon-arrow-dropdown");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			width: 7px;
			height: 4px;
			transition: transform 0.3s;
		}

		&--active {
			border-radius: 6px 6px 0 0;

			&::after {
				transform: rotate(180deg);
			}
		}
	}

	&__list {
		display: none;
		position: absolute;
		z-index: 3;
		width: 100%;
	}

	&__item {
		padding: 15px 24px;
		border: 1px solid $green-100;
		background-color: $white;
		color: $dark-500;
		transition: color 0.3s;

		&:last-child {
			border-radius: 0 0 7px 7px;
		}

		&:hover {
			box-shadow: 3px 0 0 0 $green-900 inset;
			color: $green-900;
		}

		&:focus-within {
			box-shadow: 0 0 0 3px $green-200 inset;
			color: $dark-900;
		}

		&:active {
			border-left: 1px solid $green-100;
			box-shadow: none;
			color: $silver-600;
		}
	}

	&__link {
		outline: transparent;
	}
}

.form-search {
	display: flex;
	max-width: 576px;
	width: 100%;
	height: 50px;
	position: relative;
	z-index: 5;

	margin-right: 33px;

	@include media-1200 {
		max-width: 476px;
	}

	@include media-992 {
		max-width: 100%;
	}

	@include media-768 {
		display: none;
		position: absolute;
		max-width: 100%;
		left: 0;
		bottom: -49px;
		border: 1px solid black;
		&--active {
			display: flex;
		}
	}

	&__place-btn {
		display: block;
		position: absolute;
		background-color: $dark-800;
		width: 20px;
		height: 20px;
		mask-image: url("../../images/sprite.svg#icon-search");
		mask-repeat: no-repeat;
		mask-size: cover;
		mask-position: center;
		top: 16px;
		left: 13px;
	}

	&__input {
		background-color: $white;
		padding: 15px 0;
		padding-left: 51px;
		width: 100%;
		border-radius: 6px 0 0 6px;

		&::placeholder {
			color: $dark-800;
		}

		@include media-768 {
			border-radius: 0;
		}
	}

	&__btn {
		max-width: 157px;
		width: 100%;
		background-color: $dark-800;
		color: $white;
		line-height: 1.4;
		text-transform: uppercase;
		padding: 15px 52px;
		border-radius: 0 6px 6px 0;
		transition: background-color 0.3s, box-shadow 0.3s;

		@include media-768 {
			max-width: 110px;
			padding: 0;
			border-radius: 0;
		}

		&:hover {
			background-color: #50534b;
		}

		&:focus {
			outline: 4px solid $green-200;
		}

		&:active {
			box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
			outline: transparent;
			color: $silver-600;
		}
	}
}

.users {
	display: flex;
	justify-content: space-between;

	&__item {
		border-radius: 6px;
		transition: background-color 0.3s;
		margin-right: 12px;

		@include media-768 {
			margin-right: 5px;

		}


		&:last-child {
			margin-right: 0;
		}
	}

	&__link {
		display: block;
		width: 50px;
		height: 50px;
		position: relative;
		border-radius: 3px;
		outline: transparent;
		transition: opacity 0.3s;
		display: flex; //? без позиционирования
		justify-content: center;
		align-items: center;

		@include media-992 {
			width: 44px;
			height: 44px;
		}

		&::before {
			content: "";
			background-color: $white;
			mask-repeat: no-repeat;
			mask-size: cover;
			mask-position: center;
		}

		&--search {
			display: none;

			&::before {
				position: absolute;
				top: 11px;
				left: 11px;
				width: 24px;
				height: 22px;
				mask-image: url("../../images/sprite.svg#icon-user-search");
				background-color: $white;
			}

			@include media-768{
				display: block;
			}
		}

		&--user {
			&::before {
				mask-image: url("../../images/sprite.svg#icon-user");
				top: 11px;
				left: 0;
				width: 49px;
				height: 32px;

				@include media-992 {
					top: 11px;
					left: 10px;
					width: 24px;
					height: 22px;
				}
			}

			@include media-768 {
				display: none;
			}
		}

		&--heart {
			&::before {
				mask-image: url("../../images/sprite.svg#icon-heart");
				// top: 13px;
				// left: 3px;
				width: 43px;
				height: 29px;

				@include media-992 {
					// top: 11px;
					// left: 10px;
					width: 24px;
					height: 22px;
				}
			}
		}

		&--cart {
			&::before {
				// top: 11px;
				// left: -3px;
				width: 53px;
				height: 32px;
				mask-image: url("../../images/sprite.svg#icon-cart");

				@include media-992 {
					// top: 11px;
					// left: 11px;
					width: 24px;
					height: 22px;
				}
			}
		}


		
		&:hover {
			background-color: rgba(255, 255, 255, 0.1);
		}

		&:focus-within {
			box-shadow: inset 0 0 0 3px #eff6e7;
			background-color: rgba(255, 255, 255, 0.1);
		}

		&:active {
			box-shadow: none;
			opacity: 0.8;
		}
	}

	&__quantity {
		display: flex;
		justify-content: center;
		flex-direction: column;
		position: absolute;
		background-color: $white;
		color: $red-900;
		font-weight: 600;
		font-size: 10px;
		line-height: 1;
		border-radius: 50%;
		width: 18px;
		height: 18px;
		text-align: center;
		top: 2px;
		left: 4px;

		@include media-992 {
			top: 4px;
			left: 3px;
		}

		&:hover {
			opacity: 1;
		}
	}
}
