.header {
	&__top {
		background-color: $dark-800;
		color: $white;
		font-size: 13px;
		line-height: 18px;
		font-weight: 700;
		padding: 16px 0;
	}

	&__nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__list {
		display: flex;
	}

	&__item {
		margin-right: 24px;

		&:last-child {
			margin-right: 0;
		}

		&--addres {
			margin-right: 48px;
			padding-left: 45px;
		}

		&--hour24 {
			padding-left: 34px;
		}

		&:focus-within {
			box-shadow: 0 0 0 3px $green-100;
			border-radius: 4px;
			opacity: 1;
		}

		&:active {
			box-shadow: none;
		}
	}

	&__link {
		transition: opacity 0.3s;
		outline: transparent;

		&--delivery,
		&--hotline {
			position: relative;
			&::before {
				content: "";
				display: block;
				position: absolute;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
				top: -1px;
			}
		}

		&--delivery {
			&::before {
				content: "";
				width: 32px;
				height: 21.96px;
				left: -45px;
				background-image: url("../images/icon-car.svg");
			}
		}

		&--hotline {
			&::before {
				content: "";
				width: 22px;
				height: 22px;
				left: -35px;
				background-image: url("../images/icon-phone.svg");
			}
		}

		&:hover {
			opacity: 0.7;
		}

		&:active {
			opacity: 1;
		}
	}

	&__bottom {
		background-color: $green-900;
		color: $white;
		padding: 25px 0;
	}

	&__container {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	&__logo {
		margin-right: 24px;
	}
}

.dropdown {
	margin-right: 30px;

	&__btn {
		padding: 15px 38px 15px 61px;
		background-color: $white;
		color: $green-900;
		font-weight: 600;
		font-size: 14px;
		line-height: 1.4;
		border-radius: 6px;
		position: relative;
		z-index: 2;

		&::before {
			content: "";
			position: absolute;
			top: 17px;
			left: 18px;
			z-index: 2;
			background-image: url("../images/burger-dropdown.svg");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			width: 25px;
			height: 17px;
		}

		&::after {
			content: "";
			position: absolute;
			top: 23px;
			right: 18px;
			background-image: url("../images/arrow-dropdown.svg");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			width: 7px;
			height: 4px;
		}

		&--active {
			border-radius: 6px 6px 0 0;

			&:hover {
				background-color: $green-200;
			}
		}
	}

	&__text {
		position: relative;
	}

	&__list {
		transform: translateY(-200%);
		position: absolute;
		transition: transform 0.3s;
		max-width: 240px;
		width: 100%;
		border-radius: 0 0 7px 7px;
		z-index: 3;
		overflow-y: hidden;
		&--active {
			display: block;
			transform: translateY(0%);
			background-color: $white;
			color: black;
		}
	}

	&__item {
		padding: 15px 24px;
		border: 1px solid $green-100;

		&:hover {
			box-shadow: 3px 0 0 0 $green-900 inset;
			color: $green-900;
		}

		&:focus-within {
			box-shadow: 0 0 0 3px $green-200 inset;
			color: $dark-900;
		}

		&:active {
			border-left: 1px solid $green-100;
			box-shadow: none;
			color: $silver-600;
		}
	}

	&__link {
		outline: transparent;
	}
}

.form-search {
	margin-right: 30px;
	display: flex;
	max-width: 576px;
	width: 100%;
	height: 50px;
	position: relative;

	&__place-btn {
		display: block;
		position: absolute;
		background-color: $dark-800;
		width: 20px;
		height: 20px;
		mask-image: url("../../images/sprite.svg#icon-search");
		mask-repeat: no-repeat;
		mask-size: contain;
		mask-position: center;
		top: 16px;
		left: 13px;
	}

	&__input {
		background-color: $white;
		padding: 15px 0;
		padding-left: 51px;
		width: 100%;
		border-radius: 6px 0 0 6px;

		&::placeholder {
			color: $dark-800;
		}
	}

	&__btn {
		max-width: 157px;
		width: 100%;
		background-color: $dark-800;
		color: $white;
		line-height: 1.4;
		text-transform: uppercase;
		padding: 15px 52px;
		border-radius: 0 6px 6px 0;
		transition: background-color 0.3s, box-shadow 0.3s;

		&:hover {
			background-color: #50534b;
		}

		&:focus {
			outline: 4px solid $green-200;
		}

		&:active {
			box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
			outline: transparent;
			color: $silver-600;
		}
	}
}

.users {
	display: flex;
	position: relative;

	&__item {
		position: absolute;
		border-radius: 6px;

		&--user {
			top: -27px;
			left: 18px;
		}

		&--heart {
			top: -27px;
			left: 80px;
		}

		&--cart {
			top: -27px;
			left: 144px;
		}

		&:focus-within {
			box-shadow: inset 0 0 0 3px #eff6e7;
			background-color: rgba(255, 255, 255, 0.1);
		}

		&:active {
			box-shadow: none;
		}
	}

	&__link {
		display: block;
		width: 50px;
		height: 50px;
		position: relative;
		border-radius: 3px;
		outline: transparent;

		&:hover {
			opacity: 0.8;
		}

		&::before {
			content: "";
			display: block;
			position: absolute;
			background-color: $white;
			mask-repeat: no-repeat;
			mask-size: contain;
			mask-position: center;
		}

		&--user {
			&::before {
				mask-image: url("../../images/sprite.svg#icon-user");
				width: 44.85px;
				height: 32px;
				top: 8px;
				left: 2.5px;
			}
		}

		&--heart {
			&::before {
				mask-image: url("../../images/sprite.svg#icon-heart");
				width: 37px;
				height: 28.27px;
				top: 12px;
				left: 6.5px;
			}
		}
	}

	&__quantity {
		display: flex;
		justify-content: center;
		flex-direction: column;
		position: absolute;
		background-color: $white;
		color: $red-900;
		font-weight: 600;
		font-size: 10px;
		line-height: 1;
		border-radius: 50%;
		width: 18px;
		height: 18px;
		text-align: center;

		&--heart {
			top: 3px;
			left: 1px;
		}

		&--cart {
			top: 3px;
			left: 0;
		}

		&:hover {
			opacity: 1;
		}
	}

	&__btn {
		display: block;
		position: relative;
		width: 50px;
		height: 50px;
		border-radius: 3px;
		outline: transparent;

		&--cart {
			&::before {
				content: "";
				position: absolute;
				top: 7.5px;
				left: 2px;
				width: 40px;
				height: 30.77px;
				mask-image: url("../../images/sprite.svg#icon-cart");
				background-color: $white;
				mask-repeat: no-repeat;
				mask-size: contain;
				mask-position: center;
			}
		}

		&:hover {
			opacity: 0.8;
		}
	}
}
