@import 'reset';
@import 'fonts';
@import 'vars';
@import 'global';
@import 'slick';
// @import 'slick-theme';

.header {
	&__top {
		padding: 18px 0;
		background-color: $dark-800;
		color: $white;
		@extend %opensans-700;
		font-size: 13px;
		letter-spacing: 0.03em;
		line-height: 1;
	}

	&__inner {
		display: flex;
		justify-content: space-between
	}

	&__comm {
		display: flex;
		margin-left: 55px;
	}

	&__comm-item {
		margin-right: 82px;
		position: relative;

		&:last-child {
			margin-right: 0;
		}

		&::before {
			content: '';
			position: absolute;
			display: block;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
		}

		&--car::before {
			background-image: url('../images/car.svg');
			width: 32px;
			height: 22px;
			top: -5px;
			left: -43px;
		}

		&--phone::before {
			background-image: url('../images/phone.svg');
			width: 22px;
			height: 22px;
			top: -3px;
			left: -34px;
		}


	}


	&__menu {
		background-color: $green-900;
		padding: 25px 0;
		@extend %opensans-600;
	}

	&__content {
		display: flex;
		// justify-content: space-between;
		align-items: center;
	}

	&__dropdown {
		padding: 15px 38px 15px 61px;
		margin-right: 29px;
		background-color: $white;
		color: $green-900;
		@extend %opensans-600;
		font-size: 14px;
		line-height: 1.4;
		letter-spacing: 0.03em;
		border-radius: 6px;
		position: relative;
		display: inline-block;

		&::before,
		&::after {
			content: '';
			position: absolute;
			height: 1px;
			width: 25px;
			background-color: $green-900;
			left: 17px;
		}


		&::before {
			top: 17px;
		}

		&::after {
			top: 33px;
		}

		&-line {
			position: absolute;
			height: 1px;
			width: 20px;
			background-color: $green-900;
			top: 25px;
			left: 17px;
		}
	}

	.header__caralog  {
		position: relative;

		&::before,
		&::after {
			content: '';
			position: absolute;
			height: 1px;
			width: 5px;
			background-color: $green-900;
			top: 9px;
			// left: 0px;
		}

		&::before {
			right: -18px;
			transform: rotate(45deg);
		}

		&::after {
			right: -21px;
			transform: rotate(-45deg);
		}
	}



	&__form {
		display: flex;
		font-size: 14px;
		max-width: 576px;
		width: 100%;
		position: relative;
		margin-right: 60px;

		&::before {
			content: '';
			display: inline-block;
			position: absolute;
			top: 16px;
			left: 12px;
			z-index: 2;
			background-image: url('../images/icon-search.svg');
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			width: 20px;
			height: 20px;
		}
	}

	&__search {
		padding: 15px 0px;
		padding-left: 51px;
		background-color: $white;
		border-radius: 6px 0 0 6px;
		@extend %opensans-400;
		letter-spacing: 0.058em;
		position: relative;
		width: 100%;
		line-height: 1.4;

		&::placeholder {
			color: $dark-800;
		}


	}

	&__form-btn {
		color: $white;
		background-color: $dark-800;
		padding: 15px 53px;
		border-radius: 0 6px 6px 0;
		@extend %opensans-700;
		letter-spacing: 0.03em;
		text-transform: uppercase;
	}

	&-nav {
		display: flex;
	}

	&-nav__item {
		margin-right: 32px;

		&:last-child {
			margin-right: 0;
		}

		&::before {
			content: '';
			display: block;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			// max-width: 32px;
			width: 100%;
		}

		&--user::before {
			background-image: url('../images/icon-user.svg');
			width: 28px;
			height: 35px;
		}

		&--heart::before {
			background-image: url('../images/icon-heart.svg');
			width: 39px;
			height: 35px;
			
			
		}

		&--cart::before {
			background-image: url('../images/icon-cart.svg');
			width: 35px;
			height: 35px;
		}
	}

	&-nav__link{
		position: relative;
		text-align: center;
	}

	&-nav__num{
		position: absolute;
		width: 18px;
		height: 18px;
		background-color: $white;
		color: $red-900;
		border-radius: 50%;
		top: -38px;
		left: -6px;
		
	}





}

.logo {
	margin-left: 10px;
	margin-right: 25px;
}

.benefits {

	&__list {
		display: flex;
	}

	&__item {
		margin-right: 24px;

		&:last-child {
			margin-right: 12px;
		}
	}

	&__link {
		font-size: 13px;
		line-height: 1;
	}	  
}

.header__background{
		
	.slider {
		
		&__list{
			position: relative;	
		}
		&__list button{
			position: absolute;
			z-index: 3;
			top: 50%;
			width: 60px;
			height: 60px;
			color: transparent;
		}
		&__list .slick-next{
			background-image: url('../images/arrow-right.svg');
			right: calc(5% - 60px);
		}

		&__list .slick-prev{
			background-image: url('../images/arrow-left.svg');
			left: calc(5% - 60px);
		}
		
		&__item {
			height: calc(100vh - 160px);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			display: flex;
			align-items: center;
		}

		&__inner {
			max-width: 1290px;
			width: 100%;
			padding: 24px 24px;
			background: rgba(255, 255, 255, 0.8);
			border-radius: 6px;
			display: flex;
			flex-direction: column;
			color: $dark-500;
		}

		&__title {
			@extend %ruda-900;
			font-size: 60px;
			line-height: 1.3;
			text-transform: uppercase;
		}

		&__subtitle {
			color: $red-900;
			font-size: 60px;
			line-height: 1.3;
			text-transform: uppercase;
			margin-bottom: 12px;
		}

		&__text {
			@extend %opensans-400;
			margin-bottom: 32px;
		}

		&__link{
			@extend %opensans-400;
			display: inline-block;
			width: 181px;
			text-align: center;
			padding: 12px 0;
			font-size: 18px;
			line-height: 1.3;
			letter-spacing: 0.03em;
			border-radius: 6px;
			background-color: $green-900;
			color: $white
		}

		
	}

}


@import 'media';





// position: relative;

			// .slick-next,
			// .slick-prev{
			// 	display: block;
			// 	border: 1px solid black;
			// 	color:transparent;
			// 	width: 60px;
			// 	height: 60px;
			// 	border-radius: 3px;
			// 	background-color: rgba(255, 255, 255, 0.8);
			// 	position: relative;
			// 	&::before,
			// 	&::after{
			// 		content: '';
			// 		position: absolute;
			// 		width: 25px;
			// 		height: 3px;
			// 		background-color: #000;
			// 		left: 17px;
			// 		border-radius: 3px;
			// 	}
			// 	&::before{
			// 		top: 37px;
			// 	}
			// 	&::after{
			// 		top: 20px;
			// 	}
			// }

			// .slick-next {
			// 	&::before{
			// 		transform: rotate(-44deg);
			// 	}
			// 	&::after{
			// 		transform: rotate(45deg);
			// 	}
			// }
			// .slick-prev {
			// 	&::before{
			// 		transform: rotate(45deg);
			// 	}
			// 	&::after{
			// 		transform: rotate(-45deg);
			// 	}
			// }