.filters {
	display: flex;
	justify-content: center;
	margin-bottom: 48px;
	flex-wrap: wrap;
	@include media-768 {
		margin-bottom: 24px;
	}

	&__item {
		&:not(:last-child) {
			margin-right: 24px;
		}

		@include media-768 {
			&:first-child {
				margin-right: 31px;
			}

			&:nth-child(3) {
				margin-right: 0;
			}

			&:nth-child(-n + 3) {
				margin-bottom: 15px;
			}
		}
	}

	&__btn {
		font-weight: 700;
		font-size: 15px;
		text-transform: uppercase;
		color: $dark-500;
		outline: transparent;
		transition: color 0.3s;
		line-height: 1.4;

		&:hover {
			color: $green-900;
		}

		&:focus {
			color: $dark-500;
			box-shadow: 0 0 0 3px $green-200;
			border-radius: 4px;
		}

		&:active {
			box-shadow: 0 3px 0 0 $green-200;
			border-radius: 0;
		}
	}
}

.mixitup-control-active {
	box-shadow: 0 3px 0 0 $green-200;
	border-radius: 0;
}
