
.services {
	line-height: 1.4;
	position: relative;

	&__inner {
		background-color: $silver-100;
		padding: 48px 0 29px;
	}
	&__list {
		display: flex;
		justify-content: center;
	}
	&__item {
		padding-left: 74px;
		margin-right: 65px;
		position: relative;
		max-width: 264px;
		width: 100%;
		&:last-child{
			margin-right: 0;
		}

		&--scooter,
		&--return, 
		&--hours {
			&::before{
				content:'';
				display: block;
				position: absolute;
				background-color: $green-900;
				mask-repeat: no-repeat;
				mask-size: contain;
				mask-position: center;
				width: 58px;
				height: 58px;
			}
		}

	
		&--scooter {
			&::before{
				content:'';
				mask-image: url('../../images/sprite.svg#icon-scooter');
				top: 0px;
				left: 0px;
			}
		}

		&--return {
			&::before{
				content:'';
				mask-image: url('../../images/sprite.svg#icon-return-box');
				top: 0px;
				left: 0px;
			}
		}

		&--hours {
			&::before{
				content:'';
				mask-image:url('../../images/sprite.svg#icon-24-hours');
				top: 0px;
				left: 0px;
			}
		}

	}

	&__title {
		font-weight: 600;
		font-size: 16px;
		margin-bottom: 6px;
	}
	&__text {
		font-size: 14px;
	}
	
  }
 
 
  